* {
    margin: 0;
    padding: 0;
  }
  
  /* colocamos la fuente de texto */
  body {
    font-family: "Alata", sans-serif;
  }
  
  .principal__section {
    background: url("../assets/desktop/image-hero.jpg");
    
    background-repeat: no-repeat;
    /*para q la foto no se repita*/
    background-size: cover;
    /*para qie cubra todo el ancho de la pantalla*/
    padding: 60px;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .nav {
     
    display: flex;
    /* Flexbox es un diseño de caja que permite organizar 
    elementos hijos dentro de un contenedor */
    justify-content: space-between;
   /* Con "justify-content: space-between;", 
    los elementos flexibles se colocarán de manera 
    que el primer elemento se alinee al inicio del 
    contenedor, el último elemento se alinee al final 
    del contenedor */
    align-items: center;
    /* Con "align-items: center;" 
    los elementos flexibles dentro del contenedor flex
    se alinearán en el centro vertical del contenedor. 
    Si el contenedor tiene una altura definida,
    esto resultará en la alineación central de los
    elementos secundarios en esa altura. */
  }
  
  .nav__list {
    display: flex;
    list-style: none;
    /* Elimina los marcadores o viñetas de lista 
    en elementos de lista, proporcionando un estilo más limpio
    y personalizado para la lista. */
    gap: 25px;
    /* 25 píxeles entre los elementos secundarios 
    dentro de un contenedor flex  */
    color: #fff;
  }
  
  .hero > div {
    
    border: solid #fff;
    /* crea un borde sólido con el color blanco 
    alrededor del elemento al que se aplica */
    padding: 20px;
    width: 25%;
    margin-top: 100px;
    /* "margin-top" controla el espacio entre el 
    borde superior del elemento y el elemento adyacente  */
    word-wrap: break-word;
    /* permite que las palabras o cadenas de texto largas 
    se rompan y se muestren en múltiples líneas dentro de un 
    contenedor  */
  }
  
  .hero > div > h1 {
    color: #fff;
    font-weight: normal;
    font-size: 60px;
  }
  
  .main {
    width: 1040px;
    margin: auto;
  }
  
  .article__section {
    display: flex;
    justify-content: space-between;
    /* space-between: Es un valor de la propiedad justify-content 
    que distribuye el espacio disponible de manera uniforme entre 
    los elementos hijos */
    margin-top: 60px;
    /* margen superior  */

    margin-bottom: 60px;
    /* margen inferior (espacio en blanco)  */
  }
  
  .article__container {
    align-self: end;
    /* end: Es el valor de la propiedad align-self 
    que indica que el elemento debe alinearse al final 
    del contenedor en el eje transversal. */
    width: 35%;
    margin-left: -150px;
    background-color: #fff;
    padding: 60px 60px 0 60px;
    /*  60px para arriba (top).
        60px para la derecha (right).
        0 para abajo (bottom).
        60px para la izquierda (left). */
  }
  
  .article__container h2 {
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 40px;
  }
  
  .gallery__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .gallery__title h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  
  .gallery__title button {
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #000;
    text-transform: uppercase;
    /* Este valor indica que el 
    texto debe mostrarse en letras mayúsculas. */
    letter-spacing: 3px;
    padding: 10px 30px;
  }
  
  .gallery__title button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* está definiendo cuatro columnas, 
    cada una con un tamaño fraccionado (1 fr). 
    La función repeat se utiliza para repetir 
    este patrón de tamaño de columna cuatro veces. */
    grid-template-rows: repeat(2, 40vh);
    /* está definiendo dos filas, cada una con un tamaño 
    del 40% de la altura de la ventana gráfica  */
    justify-content: space-between;
    gap: 20px;
    /* spacio entre las filas y 
    columnas en un diseño de cuadrícula. */
  }
  
  .gallery div {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: end;
    cursor: pointer;
  }
  
  .gallery div:hover {
    color: #000;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
    /*Aplicar sombras a un elemento
    inset: Indica que la sombra debe estar dentro del contorno
    */
  }
  
  .earth {
    background: url("../assets/desktop/image-deep-earth.jpg");
  }
  
  .soccer {
    background: url("../assets/desktop/image-soccer-team.jpg");
  }
  
  .arcade {
    background: url("../assets/desktop/image-night-arcade.jpg");
  }
  
  .race {
    background: url("../assets/desktop/image-grid.jpg");
  }
  
  .trip {
    background: url("../assets/desktop/image-from-above.jpg");
  }
  
  .sky {
    background: url("../assets/desktop/image-pocket-borealis.jpg");
  }
  
  .mars {
    background: url("../assets/desktop/image-curiosity.jpg");
  }
  
  .wave {
    background: url("../assets/desktop/image-fisheye.jpg");
  }
  
  .gallery div h3 {
    padding: 20px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    width: 20%;
  }
  
  @media screen and (max-width: 600px) {
    .principal__section {
      padding: 20px;
      background: url("../assets/mobile/image-hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 80vh;
    }
  
    .nav__list {
      display: none;
    }
  
    .hero div {
      width: auto;
    }
  
    .hero div h1 {
      font-size: 42px;
    }
  
    .main {
      width: 375px;
    }
  
    .article__section {
      flex-direction: column;
      align-items: center;
    }
  
    .article__section > div > img {
      width: 340px;
    }
  
    .article__container {
      margin-left: 0;
      padding: 0;
      width: auto;
      margin-top: 40px;
      text-align: center;
    }
  
    .article__container h2 {
      font-size: 32px;
      padding-bottom: 20px;
    }
  
    .article__container p {
      width: 340px;
      margin: auto;
    }
  
    .gallery__title {
      justify-content: center;
    }
  
    .gallery__title button {
      display: none;
    }
  
    .gallery {
      grid-template-columns: 1fr;
      /* está definiendo una sola columna 
      con un tamaño fraccionado (1 fr) */
      grid-template-rows: repeat(8, 15vh);
      /* stá definiendo ocho filas, cada una 
      con un tamaño del 15% de la altura de la 
      ventana gráfica  */
      margin: 20px;
    }
  
    .gallery div h3 {
      font-size: 26px;
      width: 50%;
    }
  
    .earth {
      background: url("../assets/mobile/image-deep-earth.jpg");
    }
  
    .soccer {
      background: url("../assets/mobile/image-soccer-team.jpg");
    }
  
    .arcade {
      background: url("../assets/mobile/image-night-arcade.jpg");
    }
  
    .race {
      background: url("../assets/mobile/image-grid.jpg");
    }
  
    .trip {
      background: url("../assets/mobile/image-from-above.jpg");
    }
  
    .sky {
      background: url("../assets/mobile/image-pocket-borealis.jpg");
    }
  
    .mars {
      background: url("../assets/mobile/image-curiosity.jpg");
    }
  
    .wave {
      background: url("../assets/mobile/image-fisheye.jpg");
    }
  }